.inputArtist {
  display: flex;
  align-items: center;
}

.inputField {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputField input {
  margin-right: 5px;
}

#addNameField {
  padding: 3px 15px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: 700;
  background-color: black;
  color: white;
  border-radius: 4px;
  width: 10px;
  text-align: center;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}
